<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>playground</title>
    <style>
        .container{
            display: flex;
            justify-content: center;
            align-items: space-evenly;
            flex-wrap: wrap;
            gap: 20px;
        }
        .box{
            border: 2px solid black;
            height: 200px;
            width: 200px;
        }
        h1{
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Welcome!</h1>
    <div class="container">
        {% for i in range(0,num) %}
        <div class="box" style="background-color: {{color}};"></div>
        {% endfor %}

    </div>
</body>
</html>